#navbar {
    background-color: #e4dddd;
    height: 100px;
}

#image {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    height: 555px;
}

.price {
    display: inline;
    /* text-align: center; */
}

p {
    text-align: center;
    /* padding-top: 40px; */
    font-family: verdana;
    color: #884c4c;

}

.lowerdiv1,
.lowerdiv2,
.lowerdiv3,
.lowerdiv4 {
    text-align: center;
    height: 150px;
}

.bigprice {
    color: green;
    font-size: larger;
}

.smallprice {
    color: grey;
    font-size: small;
    text-decoration: line-through;
}

.parentdiv {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

#image:hover {
    box-shadow: 10px 10px 20px rgb(161, 157, 157);
    transform: scale(1.1);
}

#but:hover {
    background-color: #c4ecc4;
}

.new {
    position: absolute;
    top: 0.25rem;
    background-color: green;
    color: white;
    font-family: verdana;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 55px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 8px;
}

.dis {
    position: absolute;
    top: 0.25rem;
    background-color: red;
    color: white;
    font-family: verdana;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 55px;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 230px;
}

li {
    display: inline;
    float: right;
    padding-top: 40px;
    padding-right: 60px;
    font-family: verdana;
    /* font-weight: bold; */
    text-decoration: none;
}

#icon {
    padding-left: 30px;
}

.upperdiv1,
.upperdiv2,
.upperdiv3,
.upperdiv4 {
    position: relative;
}

a {
    text-decoration: none;
    color: #884c4c;
}

footer {
    background-color: #e4dddd;
    height: 100px;
    margin-top: 100px;
}

.foot {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.firstchilddiv,
.secondchilddiv,
.thirdchilddiv,
.fourthchilddiv {
    transition: transform .5s;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}