#navbar {
    background-color: #e4dddd;
    height: 100px;
}

#icon {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: #884c4c;
}

li {
    display: inline;
    float: right;
    padding-top: 40px;
    padding-right: 60px;
    font-family: verdana;
    /* font-weight: bold; */
}

footer {
    background-color: #e4dddd;
    height: 100px;
    margin-top: -20px;
}

.mainimage {
    /* position: relative; */
    /* max-width: 100%; */
}

.mainquote {
    position: absolute;
    top: 20%;
    left: 33%;
    font-size: 45px;
    color: #884c4c;
    font-family: verdana;
    text-shadow: 3px 3px 5px white;
    width: 500px;
    height: 400px;
    font-weight: bold;

}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .mainquote {
        width: 400px;
        height: 300px;
        font-size: 30px;
        float: left;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .mainquote {
        width: 350px;
        height: 250px;
        font-size: 30px;
        float: left;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mainquote {
        width: 300px;
        height: 200px;
        font-size: 20px;
        float: left;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .mainquote {
        width: 200px;
        height: 100px;
        font-size: 15px;
        float: left;
    }
}

@media all and (min-width: 100px) and (max-width: 380px) {
    .mainquote {
        width: 50px;
        height: 15px;
        font-size: 10px;
        float: left;
    }
}


.copy {
    padding-top: 40px;
    text-align: center;
    font-family: verdana;
    color: #884c4c;
}

.centralimage {
    max-width: 100%;
}