#navbar {
    background-color: #e4dddd;
    height: 100px;
}

#icon {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: #884c4c;
}

li {
    display: inline;
    float: right;
    padding-top: 40px;
    padding-right: 60px;
    font-family: verdana;
    /* font-weight: bold; */
}

footer {
    background-color: #e4dddd;
    height: 100px;
    margin-top: -20px;
}

.mainimage {
    position: relative;
    /* max-width: 100%; */
}

.mainquote {
    position: absolute;
    top: 20%;
    left: 33%;
    font-size: 45px;
    color: #884c4c;
    font-family: verdana;
    text-shadow: 3px 3px 5px white;
    width: 500px;
    height: 400px;
    font-weight: bold;

}

.copy {
    padding-top: 40px;
    text-align: center;
    font-family: verdana;
    color: #884c4c;
}

.centralimage {
    max-width: 100%;
}